@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Monsieur+La+Doulaise&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: "Inconsolata", sans-serif;
}

body{
    background: url(./conference-ticket-generator-main/assets/images/background-desktop.png);
}

.container{
    margin: 10px 150px;
}

header{
    padding: 40px 0;
}

header img{
    display: block;
    margin: auto;
    width: 50%;
    height: 5vh;
}

.write-up{
    text-align: center;
}

.write-up h1{
    font-size: 34px;
    margin-bottom: 25px;
}

.write-up p{
    font-size: 18px;
}

.upload{
    margin-bottom: 25px;
    margin-top: 29px;
}

.upload-box{
    border: 2px dashed #ffffff7a;
    padding: 30px;
    transition: 0.2 ease;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.upload-box img{
    display: block;
    margin: auto;
    width: 50%;
    height: 8vh;
    z-index: 1;
}


.upload-box input{
    background: transparent;
    
}

.upload-box input::file-selector-button{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    color: transparent;
}

.upload-box input[type="file"]{
    color: transparent;
}
.warning{
    font-size: 12px;
}

form label{
    font-size: 17px;
}

form input{
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: transparent;
    border: 1px solid #ffffff7a;
    margin-bottom: 17px;
}


button{
    width: 100%;
    border: none;
    color: black;
    padding: 12px;
    margin-bottom: 17px;
    border-radius: 8px;
    font-weight: 500;
    background: hsl(7, 71%, 60%);
    cursor: pointer;
}